//
   Created by Александр on 03.04.2017.

doctype html
html(lang="en", ng-app="app")
    head
        meta(charset="UTF-8")
        title Simple Date Picker
        link(rel="stylesheet", href="//fonts.googleapis.com/css?family=Roboto:400,500,700,400italic")
        link(rel="stylesheet", href="date-picker/date-picker.css")
        link(rel="stylesheet", href="app.css")
    body
        div.container-wrapper
            h1 Simple Date Picker AngularJS
            //input(type="text")
            date-picker-input

        script(src="libs/moment/moment.js")
        script(src="libs/angular/angular.js")
        script(src="date-picker/date-picker.js")
        script(src="date-picker/date-picker.service.js")
        script(src="app.js")